<%-include('header.ejs')%>
   

      <div class="container">
        <div class="row">
            <div class="col-4 offset-4">
                <form action="login_check" method="post">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" name="PersonLoginEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required placeholder="Please enter your email id here">
                      
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" name="PersonLoginPassword" class="form-control" id="exampleInputPassword1" required placeholder="Please enter your password here">
                      
                    </div>
                    
                    <div class="text-center mb-3">
                        <button type="submit" class="btn btn-primary">Login</button><br><br>
                        <a href="/signup">New User?</a>
                        <a href="/forgotPass">forgot password</a>
                    </div>

                    
                  </form>
                  <div class="text-center mt-3">
                      <% if(user_check) { %>
                        <h2>Invalid login</h2>
                      <%}%>
                      <% if(message) { %>
                        <h1><%=message %></h1>
                      <%}%>
                  </div>
                  
            </div>
        </div>
      </div>
</body>
</html>